In [ ]:
import pandas as pd
from scipy import stats
df = pd.read_csv('earnings_train.csv')
result = (df.groupby(["DEMO_CATEGORY","STUDENT_POPULATION"])["WAGE_YEAR3"]
          .mean()
          .reset_index())
result

In [27]:
(df.groupby("DISTRICT_CODE")["DISTRICT_NAME"].nunique() == 1).all()

np.True_

In [ ]:
import numpy as np
from sklearn.linear_model import LinearRegression
import pandas as pd

df = pd.read_csv('earnings_train.csv')
wage_columns = ["WAGE_YEAR1", "WAGE_YEAR2", "WAGE_YEAR3", "WAGE_YEAR4"]
df = df.dropna(subset = wage_columns)
results = []
for (demographic_variable, demographic_value), group in df.groupby(["DEMO_CATEGORY","STUDENT_POPULATION"]):

    # defining the training input to fit the line
    x = np.array([1,2,3,4]).reshape(-1, 1)
    y = group[wage_columns].mean().values.reshape(-1, 1)

    model = LinearRegression().fit(x,y)

    # Find out the slope, and therefore the development trend of the wages.
    slope = model.coef_[0][0]
    
    results.append({"DEMO_CATEGORY":demographic_variable, "STUDENT_POPULATION": demographic_value, "Slope": slope})

results_df = pd.DataFrame(results)
results_df

      DEMO_CATEGORY                         STUDENT_POPULATION        Slope
0               All                                        All  4947.150728
1     Foster Status                               Foster Youth    12.287809
2     Foster Status                           Not Foster Youth  3770.468571
3            Gender                                     Female  3352.208839
4            Gender                                       Male  3599.768232
5   Homeless Status    Did Not Experience Homelessness in K-12  2752.303947
6   Homeless Status           Experienced Homelessness in K-12   171.667120
7              Race           American Indian or Alaska Native     9.055101
8              Race                                      Asian  1463.797959
9              Race                  Black or African American    74.667385
10             Race                         Hispanic or Latino  2306.704049
11             Race  Native Hawaiian or Other Pacific Islander    11.832818
12             Race                              None Reported    10.295641
13             Race                          Two or More Races    58.229175
14             Race                                      White  2333.472727

In [6]:
test_df = pd.read_csv('earnings_test_features.csv')
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6902 entries, 0 to 6901
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   DISTRICT_TYPE       6902 non-null   object
 1   DISTRICT_NAME       6902 non-null   object
 2   DISTRICT_CODE       5995 non-null   float64
 3   ACADEMIC_YEAR       6902 non-null   object
 4   DEMO_CATEGORY       6902 non-null   object
 5   STUDENT_POPULATION  6902 non-null   object
 6   AWARD_CATEGORY      6902 non-null   object
 7   WAGE_YEAR1          6902 non-null   float64
 8   WAGE_YEAR2          6902 non-null   float64
 9   WAGE_YEAR3          6902 non-null   float64
dtypes: float64(4), object(6)
memory usage: 539.3+ KB